{% extends "layout.html.twig" %}

{% block title %}Thank you {{ email }}!{% endblock %}

{% block body %}
  <p>Your message has been succesfully sent and we appreciate you contacting us.</p>
  <a class="btn btn-primary" href="/">Return to index page…</a>
{% endblock %}
